{% extends 'base.html' %}
{%  load static %}

{% block extra_stylesheet %}
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
.alert {
  padding: 20px;
  background-color: #800080;
  color: white;
    margin-bottom: 30px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
{% endblock extra_stylesheet %}

{% block content %}

<!-- Search
================================================== -->
<section class="search margin-bottom-50">
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<!-- Title -->
			<h3 class="search-title">Search</h3>

			<!-- Form -->
			<div class="main-search-box no-shadow">

            <form method="get" id="search_form">
				<!-- Row With Forms -->
				<div class="row with-forms">
					<!-- Min Price -->
					<div class="col-md-3">
						<!-- Select Input -->
						<div class="select-input disabled-first-option">
							<input type="text" placeholder="Min Price" data-unit="INR" name="min_price">
							<select>
								<option>Min Price</option>
								<option>1 000</option>
								<option>2 000</option>
								<option>3 000</option>
								<option>4 000</option>
								<option>5 000</option>
								<option>10 000</option>
								<option>15 000</option>
							</select>
						</div>
						<!-- Select Input / End -->
					</div>


					<!-- Max Price -->
					<div class="col-md-3">
						<!-- Select Input -->
						<div class="select-input disabled-first-option">
							<input type="text" placeholder="Max Price" data-unit="INR" name="max_price">
							<select>
								<option>Max Price</option>
								<option>1000</option>
								<option>2000</option>
								<option>3000</option>
								<option>4000</option>
								<option>5000</option>
								<option>10000</option>
								<option>15000</option>
							</select>
						</div>
						<!-- Select Input / End -->
					</div>

					<!-- Main Search Input -->
					<div class="col-md-6">
						<div class="main-search-input">
							<input type="text" name="search" placeholder="Enter address/keywords" value="{{ search_term }}" />
							<button type="submit" class="button">Search</button>
						</div>
					</div>
				</div>
				<!-- Row With Forms / End -->


                <input name="latitude" type="hidden" step="any" id="latitude" hidden value="{{ request.session.latitude }}">
                <input name="longitude" type="hidden" step="any" id="longitude" hidden value="{{ request.session.longitude }}">

				<!-- More Search Options -->
				<a href="#" class="more-search-options-trigger margin-top-10" data-open-title="More Options" data-close-title="Less Options"></a>

				<div class="more-search-options relative">
					<div class="more-search-options-container">

						<!-- Checkboxes -->
						<div class="checkboxes in-row">
                        {% for amenity in amenities %}
							<input id="check-{{ forloop.counter }}" type="checkbox" name="amenities" value="{{ amenity.id }}">
							<label for="check-{{ forloop.counter }}">{{ amenity.title|upper|escape }}</label>
                        {% endfor %}
						</div>
						<!-- Checkboxes / End -->

					</div>

				</div>
				<!-- More Search Options / End -->
            </form>

			</div>
			<!-- Box / End -->
		</div>
	</div>
</div>
</section>



<!-- Content
================================================== -->
<div class="container">
	<div class="row fullwidth-layout">

		<div class="col-md-12">

			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-15">

				<div class="col-md-6">
					<!-- Sort by -->
					<div class="sort-by">
						<label>Sort by:</label>

						<div class="sort-by-select">
							<select data-placeholder="Default order" class="chosen-select-no-single" >
								<option>Default Order</option>
								<option>Nearest Libraries</option>
								<option>Price Low to High</option>
								<option>Price High to Low</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<!-- Layout Switcher -->
					<div class="layout-switcher">
						<a href="#" class="list"><i class="fa fa-th-list"></i></a>
						<a href="#" class="grid"><i class="fa fa-th-large"></i></a>
						<a href="#" class="grid-three"><i class="fa fa-th"></i></a>
					</div>
				</div>
			</div>


			<!-- Listings -->
			<div class="listings-container list-layout">
            {% for library in libraries %}
                {% if library.verified and library.visible %}
				<!-- Listing Item -->
				<div class="listing-item">

					<a href="{% url 'core:library' library.id %}" class="listing-img-container">

                        {% if library.distance != None %}
                            <div class="listing-badges">
                            {% comment %}
                                <span class="featured">Featured</span>
                            {% endcomment %}
                                <span>{{ library.distance.km|floatformat }} Km</span>
                            </div>
                        {% endif %}

						<div class="listing-img-content">
							<span class="listing-price">₹ {{ library.min_price_range }} - ₹ {{ library.msx_price_range }}</span>
							<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
							<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
						</div>

						<div class="listing-carousel">
                            <div><img src="{{ image.main_image.url }}" alt=""></div>
                            {% for image in library.get_images %}
                                <div><img src="{{ image.image.url }}" alt=""></div>
                            {% endfor %}
						</div>
					</a>

					<div class="listing-content">

						<div class="listing-title">
							<h4><a href="{% url 'core:library' library.id %}">{{ library.name }}</a></h4>
							<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
								<i class="fa fa-map-marker"></i>
								{{ library.addr1 }}, {{ library.addr2 }}
							</a>

							<a href="{% url 'core:library' library.id %}" class="details button border">Details</a>
						</div>

						<ul class="listing-details">
							<li>City - {{ library.city }}</li>
							<li>State - {{ library.state }}</li>
							<li>{{ library.no_of_seats }} Seats</li>
						</ul>

						<div class="listing-footer">
							<a href="#"><i class="fa fa-user"></i> {{ library.owner_fname }} {{ library.owner_lname }}</a>
                            {% if library.get_rating %}
                            <span>Rating &nbsp;<span id="stars-{{ library.id }}"></span></span>
                                {% endif %}
						</div>
					</div>
				</div>
				<!-- Listing Item / End -->

                {% endif %}
            {% empty %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>We regret for inconveniences,</strong> as no more libraries is being listed to your search criteria, please revisit in future for better services at our end. Thanks, P2C
                </div>

                {% for library in other_libraries %}
                {% if library.verified and library.visible %}
				<!-- Listing Item -->
				<div class="listing-item">

					<a href="{% url 'core:library' library.id %}" class="listing-img-container">
                        {% comment %}
						<div class="listing-badges">
							<span class="featured">Featured</span>
							<span>For Sale</span>
						</div>
						{% endcomment %}
						<div class="listing-img-content">
							<span class="listing-price">₹ {{ library.min_price_range }} - ₹ {{ library.msx_price_range }}</span>
							<span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
							<span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
						</div>

						<div class="listing-carousel">
                        <div><img src="{{ image.main_image.url }}" alt=""></div>
                            {% for image in library.get_images %}
                                <div><img src="{{ image.image.url }}" alt=""></div>
                            {% endfor %}
						</div>
					</a>

					<div class="listing-content">

						<div class="listing-title">
							<h4><a href="{% url 'core:library' library.id %}">{{ library.name }}</a></h4>
							<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
								<i class="fa fa-map-marker"></i>
								{{ library.addr1 }}, {{ library.addr2 }}
							</a>

							<a href="{% url 'core:library' library.id %}" class="details button border">Details</a>
						</div>

						<ul class="listing-details">
							<li>City - {{ library.city }}</li>
							<li>State - {{ library.state }}</li>
							<li>{{ library.no_of_seats }} Seats</li>
						</ul>

						<div class="listing-footer">
							<a href="#"><i class="fa fa-user"></i> {{ library.owner_fname }} {{ library.owner_lname }}</a>
                            {% if library.get_rating %}
                                <span>Rating &nbsp;<span id="stars-{{ library.id }}"></span></span>
                            {% endif %}
						</div>
					</div>
				</div>
				<!-- Listing Item / End -->

                    {% endif %}
                {% endfor %}

            {% endfor %}
			</div>
			<!-- Listings Container / End -->

			<div class="clearfix"></div>

        {% if libraries.has_other_pages %}
			<!-- Pagination -->
			<div class="pagination-container margin-top-20">
				<nav class="pagination">
					<ul>
                        <li><a href="" class="current-page">{{ libraries.number }}</a></li>
						<li class="blank">...</li>
						<li><a href="?page={{ libraries.paginator.num_pages }}">{{ libraries.paginator.num_pages }}</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
                        {% if libraries.has_previous %}
                            <li><a href="?page={{ libraries.previous_page_number }}" class="prev">Previous</a></li>
                        {% endif %}
                        {% if libraries.has_next %}
                            <li><a href="?page={{ libraries.next_page_number }}" class="next">Next</a></li>
                        {% endif %}
					</ul>
				</nav>
			</div>
			<!-- Pagination / End -->
        {% endif %}

		</div>

	</div>
</div>





{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% if not request.session.latitude %}
    <script>
$(document).ready( function () {
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
    });
    function showPosition(position) {
        $('#latitude').val(position.coords.latitude);
        $('#longitude').val(position.coords.longitude);
        $('#search_form').submit();
    }
</script>
    {% endif %}


    {% comment %}
    <script>
    $(document).ready( function () {
        if( sessionStorage.getItem("geo_access") === null ){
            // just assume it is prompt
            sessionStorage.setItem("geo_access", "prompt");
        }

        function ask(){
            navigator.geolocation.getCurrentPosition(function(){
                sessionStorage.setItem("geo_access", "granted");

            }, function(err){
                if(err.code == 1){ // PERMISSION_DENIED
                    sessionStorage.setItem("geo_access", "denied");
                }
                sessionStorage.setItem("geo_access", "prompt");
            });
        };

        // Then somewhere
        ask();
    });
    </script>
    {% endcomment %}

<script>
    {% if libraries %}
    {% for library in libraries %}
        var a = {{ library.get_rating }};
        document.getElementById("stars-{{ library.id }}").innerHTML = getStars(a);
    {% endfor %}
    {% else %}
        {% for library in other_libraries %}
        var a = {{ library.get_rating }};
        document.getElementById("stars-{{ library.id }}").innerHTML = getStars(a);
    {% endfor %}
    {% endif %}
function getStars(rating) {
  // Round to nearest half
  rating = Math.round(rating * 2) / 2;
  let output = [];

  // Append all the filled whole stars
  for (var i = rating; i >= 1; i--)
    output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

  // If there is a half a star, append it
  if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

  // Fill the empty stars
  for (let i = (5 - rating); i >= 1; i--)
    output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');
  return output.join('');
}

</script>
{% endblock extra_scripts %}